In [6]:
import pandas as pd
import numpy as np
import types

for i in dir(pd) :
    if i.startswith("_") :
        continue
    if type(pd.__dict__[i]) == types.FunctionType :
        
        print(i,end= ' ')

bdate_range concat crosstab cut date_range eval ewma ewmcorr ewmcov ewmstd ewmvar ewmvol expanding_apply expanding_corr expanding_count expanding_cov expanding_kurt expanding_max expanding_mean expanding_median expanding_min expanding_quantile expanding_skew expanding_std expanding_sum expanding_var factorize fama_macbeth get_dummies get_store groupby infer_freq isnull lreshape match melt merge notnull ols ordered_merge period_range pivot pivot_table pnow qcut read_clipboard read_csv read_excel read_fwf read_gbq read_hdf read_html read_json read_msgpack read_pickle read_sas read_sql read_sql_query read_sql_table read_stata read_table rolling_apply rolling_corr rolling_count rolling_cov rolling_kurt rolling_max rolling_mean rolling_median rolling_min rolling_quantile rolling_skew rolling_std rolling_sum rolling_var rolling_window scatter_matrix set_eng_float_format show_versions timedelta_range to_datetime to_msgpack to_numeric to_pickle to_timedelta unique value_counts wide_to_long

### concat  통합하기

In [9]:
df = pd.DataFrame(np.arange(16).reshape(4,4), columns=['a','b','c','d'])
print(df)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [11]:
pd.concat([df,df])

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
pd.concat([df,df],axis=1)

    a   b   c   d   a   b   c   d
0   0   1   2   3   0   1   2   3
1   4   5   6   7   4   5   6   7
2   8   9  10  11   8   9  10  11
3  12  13  14  15  12  13  14  15

####  열이 다른 경우에는 횡으로 붙이면 원소가 불일지 되는 곳에는 NaN으로 처리

In [15]:
df1 = pd.DataFrame(np.arange(16,32).reshape(4,4), index=[11,12,13,14],columns=['a','b','c','d'])
print(df1)

     a   b   c   d
11  16  17  18  19
12  20  21  22  23
13  24  25  26  27
14  28  29  30  31

In [16]:
pd.concat([df,df1],axis=1)

       a     b     c     d     a     b     c     d
0    0.0   1.0   2.0   3.0   NaN   NaN   NaN   NaN
1    4.0   5.0   6.0   7.0   NaN   NaN   NaN   NaN
2    8.0   9.0  10.0  11.0   NaN   NaN   NaN   NaN
3   12.0  13.0  14.0  15.0   NaN   NaN   NaN   NaN
11   NaN   NaN   NaN   NaN  16.0  17.0  18.0  19.0
12   NaN   NaN   NaN   NaN  20.0  21.0  22.0  23.0
13   NaN   NaN   NaN   NaN  24.0  25.0  26.0  27.0
14   NaN   NaN   NaN   NaN  28.0  29.0  30.0  31.0

In [17]:
pd.concat([df,df1],axis=0)

     a   b   c   d
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
11  16  17  18  19
12  20  21  22  23
13  24  25  26  27
14  28  29  30  31

### Merge 통합하기

    배열을 join해서 합치는 역할을 한다. 병합이 되면 index가 사라진다.
    특정 열에 대해 동일한 값이 있다면 병합이 inner join이 처리되면 다른 값이 있을 때는 outer join으로 처리된다.

In [42]:
df11 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df11)
df12 = pd.DataFrame(np.arange(16,32).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df12)

df22 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df12)

    f   g   h   i
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
    f   g   h   i
a  16  17  18  19
b  20  21  22  23
c  24  25  26  27
d  28  29  30  31
    f   g   h   i
a  16  17  18  19
b  20  21  22  23
c  24  25  26  27
d  28  29  30  31

In [25]:
help(pd.merge)

Help on function merge in module pandas.tools.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)
    Merge DataFrame objects by performing a database-style join operation by
    columns or indexes.

    If joining columns on columns, the DataFrame indexes *will be
    ignored*. Otherwise if joining indexes on indexes or indexes on a column or
    columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        * left: use only keys from left frame (SQL: left outer join)
        * right: use only keys from right frame (SQL: right outer join)
        * outer: use union of keys from both frames (SQL: full outer join)
        * inner: use intersection of keys from both frames (SQL: inner join)
    on : label or list
        Field names to join on. Must be found in both DataFrames. If on is
        None and not merging on indexes, then it merges on the intersection of
        the columns by default.
    left_on : label or list, or array-like
        Field names to join on in left DataFrame. Can be a vector or list of
        vectors of the length of the DataFrame to use a particular vector as
        the join key instead of columns
    right_on : label or list, or array-like
        Field names to join on in right DataFrame or vector/list of vectors per
        left_on docs
    left_index : boolean, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels
    right_index : boolean, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index
    sort : boolean, default False
        Sort the join keys lexicographically in the result DataFrame
    suffixes : 2-length sequence (tuple, list, ...)
        Suffix to apply to overlapping column names in the left and right
        side, respectively
    copy : boolean, default True
        If False, do not copy data unnecessarily
    indicator : boolean or string, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

        .. versionadded:: 0.17.0

    Examples
    --------

    >>> A              >>> B
        lkey value         rkey value
    0   foo  1         0   foo  5
    1   bar  2         1   bar  6
    2   baz  3         2   qux  7
    3   foo  4         3   bar  8

    >>> A.merge(B, left_on='lkey', right_on='rkey', how='outer')
       lkey  value_x  rkey  value_y
    0  foo   1        foo   5
    1  foo   4        foo   5
    2  bar   2        bar   6
    3  bar   2        bar   8
    4  baz   3        NaN   NaN
    5  NaN   NaN      qux   7

    Returns
    -------
    merged : DataFrame
        The output type will the be same as 'left', if it is a subclass
        of DataFrame.

In [33]:
pd.merge(df11,df12)

Empty DataFrame
Columns: [f, g, h, i]
Index: []

In [34]:
print(pd.merge(df11,df12, left_on="f", right_on="f",how='outer'))

      f   g_x   h_x   i_x   g_y   h_y   i_y
0   0.0   1.0   2.0   3.0   NaN   NaN   NaN
1   4.0   5.0   6.0   7.0   NaN   NaN   NaN
2   8.0   9.0  10.0  11.0   NaN   NaN   NaN
3  12.0  13.0  14.0  15.0   NaN   NaN   NaN
4  16.0   NaN   NaN   NaN  17.0  18.0  19.0
5  20.0   NaN   NaN   NaN  21.0  22.0  23.0
6  24.0   NaN   NaN   NaN  25.0  26.0  27.0
7  28.0   NaN   NaN   NaN  29.0  30.0  31.0

In [40]:
print(pd.merge(df11,df12, on="f",how='outer'))

      f   g_x   h_x   i_x   g_y   h_y   i_y
0   0.0   1.0   2.0   3.0   NaN   NaN   NaN
1   4.0   5.0   6.0   7.0   NaN   NaN   NaN
2   8.0   9.0  10.0  11.0   NaN   NaN   NaN
3  12.0  13.0  14.0  15.0   NaN   NaN   NaN
4  16.0   NaN   NaN   NaN  17.0  18.0  19.0
5  20.0   NaN   NaN   NaN  21.0  22.0  23.0
6  24.0   NaN   NaN   NaN  25.0  26.0  27.0
7  28.0   NaN   NaN   NaN  29.0  30.0  31.0

In [43]:
print(pd.merge(df11,df22, on='f', how='inner'))

    f  g_x  h_x  i_x  g_y  h_y  i_y
0   0    1    2    3    1    2    3
1   4    5    6    7    5    6    7
2   8    9   10   11    9   10   11
3  12   13   14   15   13   14   15

### 삽입하기  

    dataframe 일 경우에만 삽입이 존재한다.

In [51]:
df11 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df11)

df11.insert(4,'j',[99,99,99,99])
print(df11)

    f   g   h   i
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
    f   g   h   i   j
a   0   1   2   3  99
b   4   5   6   7  99
c   8   9  10  11  99
d  12  13  14  15  99

In [52]:
ser = pd.Series([99,99,99,99],index=['a','b','c','d'])
df11.insert(5,'k',ser)
print(df11)

    f   g   h   i   j   k
a   0   1   2   3  99  99
b   4   5   6   7  99  99
c   8   9  10  11  99  99
d  12  13  14  15  99  99

#### index가 맞지 않으면 값이 처리되지 않고 NaN으로 처리된다.

In [53]:
ser = pd.Series([99,99,99,99],index=['a','b','c','f'])
df11.insert(6,'l',ser)
print(df11)

    f   g   h   i   j   k     l
a   0   1   2   3  99  99  99.0
b   4   5   6   7  99  99  99.0
c   8   9  10  11  99  99  99.0
d  12  13  14  15  99  99   NaN

### 삭제 처리

In [56]:
ser1 = pd.Series([991,992,993,994],index=['a','b','c','f'])

print(ser1.pop())

TypeError: pop() missing 1 required positional argument: 'item'

In [58]:
ser1 = pd.Series([991,992,993,994],index=['a','b','c','f'])

print(ser1.pop('a'))
print(ser1)

991
b    992
c    993
f    994
dtype: int64

#### dataframe 은 칼럼을 삭제한다.

In [60]:
df211 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df211)

print(df211.pop('f'))
print(df211)

    f   g   h   i
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
a     0
b     4
c     8
d    12
Name: f, dtype: int32
    g   h   i
a   1   2   3
b   5   6   7
c   9  10  11
d  13  14  15

#### dataframe은 index로 삭제가 불가하다.

In [61]:
print(df211.pop('a'))
print(df211)

KeyError: 'a'

### 원소 값에 대한 변경

In [66]:
help(pd.DataFrame.replace)

Help on function replace in module pandas.core.generic:

replace(self, to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad', axis=None)
    Replace values given in 'to_replace' with 'value'.

    Parameters
    ----------
    to_replace : str, regex, list, dict, Series, numeric, or None

        * str or regex:

            - str: string exactly matching `to_replace` will be replaced
              with `value`
            - regex: regexs matching `to_replace` will be replaced with
              `value`

        * list of str, regex, or numeric:

            - First, if `to_replace` and `value` are both lists, they
              **must** be the same length.
            - Second, if ``regex=True`` then all of the strings in **both**
              lists will be interpreted as regexs otherwise they will match
              directly. This doesn't matter much for `value` since there
              are only a few possible substitution regexes you can use.
            - str and regex rules apply as above.

        * dict:

            - Nested dictionaries, e.g., {'a': {'b': nan}}, are read as
              follows: look in column 'a' for the value 'b' and replace it
              with nan. You can nest regular expressions as well. Note that
              column names (the top-level dictionary keys in a nested
              dictionary) **cannot** be regular expressions.
            - Keys map to column names and values map to substitution
              values. You can treat this as a special case of passing two
              lists except that you are specifying the column to search in.

        * None:

            - This means that the ``regex`` argument must be a string,
              compiled regular expression, or list, dict, ndarray or Series
              of such elements. If `value` is also ``None`` then this
              **must** be a nested dictionary or ``Series``.

        See the examples section for examples of each of these.
    value : scalar, dict, list, str, regex, default None
        Value to use to fill holes (e.g. 0), alternately a dict of values
        specifying which value to use for each column (columns not in the
        dict will not be filled). Regular expressions, strings and lists or
        dicts of such objects are also allowed.
    inplace : boolean, default False
        If True, in place. Note: this will modify any
        other views on this object (e.g. a column form a DataFrame).
        Returns the caller if this is True.
    limit : int, default None
        Maximum size gap to forward or backward fill
    regex : bool or same types as `to_replace`, default False
        Whether to interpret `to_replace` and/or `value` as regular
        expressions. If this is ``True`` then `to_replace` *must* be a
        string. Otherwise, `to_replace` must be ``None`` because this
        parameter will be interpreted as a regular expression or a list,
        dict, or array of regular expressions.
    method : string, optional, {'pad', 'ffill', 'bfill'}
        The method to use when for replacement, when ``to_replace`` is a
        ``list``.

    See Also
    --------
    NDFrame.reindex
    NDFrame.asfreq
    NDFrame.fillna

    Returns
    -------
    filled : NDFrame

    Raises
    ------
    AssertionError
        * If `regex` is not a ``bool`` and `to_replace` is not ``None``.
    TypeError
        * If `to_replace` is a ``dict`` and `value` is not a ``list``,
          ``dict``, ``ndarray``, or ``Series``
        * If `to_replace` is ``None`` and `regex` is not compilable into a
          regular expression or is a list, dict, ndarray, or Series.
    ValueError
        * If `to_replace` and `value` are ``list`` s or ``ndarray`` s, but
          they are not the same length.

    Notes
    -----
    * Regex substitution is performed under the hood with ``re.sub``. The
      rules for substitution for ``re.sub`` are the same.
    * Regular expressions will only substitute on strings, meaning you
      cannot provide, for example, a regular expression matching floating
      point numbers and expect the columns in your frame that have a
      numeric dtype to be matched. However, if those floating point numbers
      *are* strings, then you can do this.
    * This method has *a lot* of options. You are encouraged to experiment
      and play with this method to gain intuition about how it works.

In [65]:
df311 = pd.DataFrame(np.arange(16).reshape(4,4), index=['a','b','c','d'],columns=['f','g','h','i'])
print(df311)

print(df311.replace(to_replace=(0,1), value= 999,inplace=True))
print(df311)

    f   g   h   i
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
None
     f    g   h   i
a  999  999   2   3
b    4    5   6   7
c    8    9  10  11
d   12   13  14  15