In [1]:
import pandas as pd

In [37]:
dir(pd.core.groupby.DataFrameGroupBy)

['__bytes__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_numeric_operations',
 '_agg_doc',
 '_aggregate',
 '_aggregate_generic',
 '_aggregate_item_by_item',
 '_aggregate_multiple_funcs',
 '_apply_filter',
 '_apply_to_column_groupbys',
 '_apply_whitelist',
 '_assure_grouper',
 '_block_agg_axis',
 '_builtin_table',
 '_choose_path',
 '_concat_objects',
 '_constructor',
 '_cumcount_array',
 '_cython_agg_blocks',
 '_cython_agg_general',
 '_cython_table',
 '_cython_transform',
 '_decide_output_index',
 '_def_str',
 '_define_paths',
 '_dir_additions',
 '_dir_deletions',
 '_get_data_to_aggregate',
 '_get_index',
 '_get_indices',
 '_gotitem',
 '_group_selection',
 '_index_with_as_index',
 '_insert_inaxis_grouper_inplace',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cython_func',
 '_iterate_column_groupbys',
 '_iterate_slices',
 '_make_wrapper',
 '_obj_with_exclusions',
 '_post_process_cython_aggregate',
 '_python_agg_general',
 '_python_apply_general',
 '_reindex_output',
 '_reset_cache',
 '_reset_group_selection',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_group_selection',
 '_set_result_index_ordered',
 '_shallow_copy',
 '_transform_fast',
 '_transform_general',
 '_transform_item_by_item',
 '_try_aggregate_string_function',
 '_try_cast',
 '_wrap_agged_blocks',
 '_wrap_aggregated_output',
 '_wrap_applied_output',
 '_wrap_generic_output',
 '_wrap_transformed_output',
 'agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'backfill',
 'bfill',
 'boxplot',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dtypes',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'get_group',
 'groups',
 'head',
 'hist',
 'idxmax',
 'idxmin',
 'indices',
 'last',
 'mad',
 'max',
 'mean',
 'median',
 'min',
 'ndim',
 'ngroups',
 'nth',
 'nunique',
 'ohlc',
 'pad',
 'pct_change',
 'plot',
 'prod',
 'quantile',
 'rank',
 'resample',
 'rolling',
 'sem',
 'shift',
 'size',
 'skew',
 'std',
 'sum',
 'tail',
 'take',
 'transform',
 'tshift',
 'var']

In [2]:
df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                   'data':range(6)})

In [3]:
df

   data key
0     0   A
1     1   B
2     2   C
3     3   A
4     4   B
5     5   C

### 키를 고정해서 처리하기

In [4]:
df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                   'data':range(6)}, columns=['key','data'])

In [5]:
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

### groupby 함수로 실행하면 새로운 자료형이 생성

In [6]:
df.groupby('key')

### 내부의 속성과 메소드를 확인

In [7]:
a = df.groupby('key')

In [11]:
count = 0
for i in dir(a) :
    if not i.startswith("_") :
        print(i, end=" ")
        count += 1
        if count % 5 == 0 :
            print()

agg aggregate all any apply
backfill bfill boxplot corr corrwith
count cov cumcount cummax cummin
cumprod cumsum data describe diff
dtypes expanding ffill fillna filter
first get_group groups head hist
idxmax idxmin indices key last
mad max mean median min
ndim ngroups nth nunique ohlc
pad pct_change plot prod quantile
rank resample rolling sem shift
size skew std sum tail
take transform tshift var

In [40]:
a.key.head()

0    A
1    B
2    C
3    A
4    B
5    C
Name: key, dtype: object

## groupby 함수로 실행하면 실제 키에 맞춰 분할됨

In [41]:
for i,v in a :
    print(i, v)

A   key  data
0   A     0
3   A     3
B   key  data
1   B     1
4   B     4
C   key  data
2   C     2
5   C     5

###  실제 데이터는 데이터프레임으로 들어가 있다.

In [49]:
type(i)

str

In [48]:
type(v)

pandas.core.frame.DataFrame

In [50]:
v.values

array([['C', 2],
       ['C', 5]], dtype=object)

In [44]:
v.data

2    2
5    5
Name: data, dtype: int64

In [47]:
v.columns

Index(['key', 'data'], dtype='object')

In [45]:
v.index

Int64Index([2, 5], dtype='int64')

In [51]:
v.shape

(2, 2)

## 분할 된 것을 다시 적용 및 집계

### 합산처리

In [58]:
for i, v in a :
    print(i)
    print(v.sum())

A
key     AA
data     3
dtype: object
B
key     BB
data     5
dtype: object
C
key     CC
data     7
dtype: object

In [8]:
a.sum()

     data
key
A       3
B       5
C       7

### 집계처리

In [38]:
a.describe()

     data
    count mean      std  min   25%  50%   75%  max
key
A     2.0  1.5  2.12132  0.0  0.75  1.5  2.25  3.0
B     2.0  2.5  2.12132  1.0  1.75  2.5  3.25  4.0
C     2.0  3.5  2.12132  2.0  2.75  3.5  4.25  5.0

## seaborn planets 정보를 이용해서 처리

In [12]:
import seaborn as sns

planets = sns.load_dataset('planets')

In [16]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### 특정 칼럼 내의 값으로 그룹을 처리

In [17]:
method = planets.groupby("method")

In [23]:
method.ndim

2

In [28]:
method.method.head()

0                    Radial Velocity
1                    Radial Velocity
2                    Radial Velocity
3                    Radial Velocity
4                    Radial Velocity
29                           Imaging
30                           Imaging
31                           Imaging
32         Eclipse Timing Variations
33                           Imaging
34                           Imaging
37         Eclipse Timing Variations
38         Eclipse Timing Variations
39         Eclipse Timing Variations
40         Eclipse Timing Variations
91                           Transit
92                           Transit
93                           Transit
94                           Transit
95                           Transit
113                       Astrometry
537                       Astrometry
680        Transit Timing Variations
736        Transit Timing Variations
749        Transit Timing Variations
787    Orbital Brightness Modulation
788    Orbital Brightness Modulation
792    Orbital Brightness Modulation
813        Transit Timing Variations
902                     Microlensing
903                     Microlensing
904                     Microlensing
905                     Microlensing
906                     Microlensing
941                    Pulsar Timing
942                    Pulsar Timing
943                    Pulsar Timing
944                    Pulsar Timing
945                    Pulsar Timing
958      Pulsation Timing Variations
Name: method, dtype: object

### 그룹화된 값들을 확인

In [30]:
for (meth, group) in method :
    print(meth, group.shape)

Astrometry (2, 6)
Eclipse Timing Variations (9, 6)
Imaging (38, 6)
Microlensing (23, 6)
Orbital Brightness Modulation (3, 6)
Pulsar Timing (5, 6)
Pulsation Timing Variations (1, 6)
Radial Velocity (553, 6)
Transit (397, 6)
Transit Timing Variations (4, 6)

In [ ]:
number	orbital_period	mass	distance	year

In [33]:
method['number'].head()

0      1
1      1
2      1
3      1
4      1
29     1
30     1
31     1
32     1
33     1
34     1
37     2
38     2
39     2
40     2
91     1
92     1
93     1
94     1
95     1
113    1
537    1
680    2
736    2
749    3
787    2
788    2
792    1
813    2
902    1
903    1
904    1
905    1
906    1
941    3
942    3
943    3
944    1
945    1
958    1
Name: number, dtype: int64

In [22]:
method.groups['Transit']

Int64Index([  91,   92,   93,   94,   95,   96,   97,   99,  100,  101,
            ...
            1023, 1024, 1025, 1026, 1028, 1030, 1031, 1032, 1033, 1034],
           dtype='int64', length=397)

In [14]:
planets.groupby("method")['orbital_period']

In [15]:
planets.groupby("method")['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64