In [2]:
import pandas as pd
import numpy as np

# 시리즈에 대한 인덱서 처리

In [16]:
s = pd.Series([1,2,3,4])

In [17]:
s

0    1
1    2
2    3
3    4
dtype: int64

### 시리즈일 경우는 인덱서나 인덱싱이나 실제 원소의 값을 처리

In [18]:
s[0]

1

In [19]:
s.loc[0]

1

In [20]:
s.iloc[0]

1

# 데이터 프레임에 대한 인덱서 처리

In [4]:
df = pd.DataFrame(np.random.randn(3,3))

In [5]:
df

          0         1         2
0  0.795238 -0.960598  0.148386
1  0.527966 -0.290995 -0.086291
2 -0.233590  0.397919 -1.581407

## 인덱스로 처리할 때 칼럼 단위로 처리

In [6]:
df[0]

0    0.795238
1    0.527966
2   -0.233590
Name: 0, dtype: float64

## 슬라이스로 처리하면 데이터 프레임으로 처리를 한다.

In [7]:
df[:1]

          0         1         2
0  0.795238 -0.960598  0.148386

## 슬라이스 이후에 인덱싱으로 처리하기

In [11]:
df[:1][0]

0    0.795238
Name: 0, dtype: float64

## 인덱서는 행단위로 처리를 하기 위해 사용한다

In [12]:
df.loc[0]

0    0.795238
1   -0.960598
2    0.148386
Name: 0, dtype: float64

In [13]:
df[:1]

          0         1         2
0  0.795238 -0.960598  0.148386

In [14]:
df.iloc[0]

0    0.795238
1   -0.960598
2    0.148386
Name: 0, dtype: float64

### ix는 버전이 올라가면서 사용하지 않도록 함

In [15]:
df.ix[0]

/Users/dahlmoon/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

0    0.795238
1   -0.960598
2    0.148386
Name: 0, dtype: float64